
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    background-color: #ffffff;
}

nav {
    background-color: #007bff;
    color: white;
    padding: 1rem;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row; 
}

aside {
    flex-basis: 25%; 
    padding: 1rem;
    border-right: 1px solid #ddd;
}

section {
    flex: 1;
    padding: 1rem;
}

.current-weather {
    margin-bottom: 200px;
}

#forecastContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px; 
}

.forecast-day {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
